:root{
    /* Black Color */
    --black-hue: 330;
    --black-saturation: 5%;
    --back-lightness: 10%;
    --back-alfa: 1;
    --black: hsla(var(--black-hue), var(--black-saturation), var(--back-lightness), var(--back-alfa));
    /* Gold Color */
    --gold-hue: 40;
    --gold-saturation: 30%;
    --gold-lightness: 50%;
    --gold-alfa: 1;
    --gold: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa));
}

.response-img{
    width: 100%;
    display: block;
    aspect-ratio: 9 / 6;
    object-fit: cover;
    object-position: center center;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate {
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}

.page-logo {
    height: 75px;
    transform: translateX(-25px);
}

.gold-text {
    color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa));
}

.gold-text:hover{
    color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa));
}

.gold-bg {
    background-color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa));
}

.gold-bg--light{
    background-color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), 0.1);
}

.black-text{
    color: hsla(var(--black-hue), var(--black-saturation), var(--back-lightness), var(--back-alfa));
}

.black-bg {
    background-color: hsla(var(--black-hue), var(--black-saturation), var(--back-lightness), var(--back-alfa));
}
.gold-border {
    border-color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa));
}

.animated-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--gold), transparent);
    transition: width 0.75s;
}

.animated-line:hover::after{
    width: 100%;
}

.page-item .page-link{
    color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa)) !important;
}

.page-item.active .page-link {
    background-color:  hsla(var(--black-hue), var(--black-saturation), var(--back-lightness), var(--back-alfa)) !important;
    color: hsla(var(--gold-hue), var(--gold-saturation), var(--gold-lightness), var(--gold-alfa)) !important;
    border-color: hsla(var(--black-hue), var(--black-saturation), var(--back-lightness), var(--back-alfa)) !important;
    font-weight: bold;
}

@media (max-width: 1400px){
    .container {
        max-width: 98% !important;
    }
}

